<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block min-vh-100 bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Analyze", "Admin")">
                    <i class="fa-solid fa-house"></i>
                    後臺分析
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Contact", "Admin")">
                    <i class="fa-solid fa-user"></i>
                    會員管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Publish", "Admin")">
                    <i class="fa-solid fa-file"></i>
                    新聞管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Manage", "Mall")">
                    <i class="fa-solid fa-file"></i>
                    商城管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Manage", "Dex")">
                    <i class="fa-solid fa-book"></i>
                    圖鑑管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Manage", "Admin")">
                    <i class="fa-solid fa-comment"></i>
                    貼文/留言管理
                </a>
            </li>
        </ul>
    </div>
</nav>