@using BoardGameFontier.Models.ViewModels;
@model DexViewModel
@section Styles{
    <style>
        .theBottom {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(8px);
        }

        .RatingBackground {
            position:relative;
            padding-top: 10px;
            aspect-ratio: 1 / 1;
            background: linear-gradient(to right, #14B8A6,#5eead4 );
            perspective:500px;
        }

        .star{
            transition:1s;
            z-index: 1;
            background-color:white;
            aspect-ratio: 1 / 1;
            clip-path: polygon( 50% 2.4%, 34.5% 33.8%, 0% 38.8%, 25% 63.1%, 19.1% 97.6%, 50% 81.3%, 80.9% 97.6%, 75% 63.1%, 100% 38.8%, 65.5% 33.8% );
        }

        .RatingBackground:hover .star{
            transform:rotateY(360deg);
        }

        .RaingNum{
            color: #14B8A6;
            font-weight:bolder;
            font-size:3vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index:2;
            text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
        }

        .BarTitle{
            background: linear-gradient(to right, #14B8A6,#5eead4 );
            color:white;
            padding:10px;
            font-weight: bold;
            border-radius: 10px;
        }

    </style>
}
<div class="theBottom container p-5">
    <div class="row align-items-center ">
        <div class="col-sm-12 col-lg-3">
            <img class="img-thumbnail img-fluid" src="@Model.GameDetails.Cover" />
        </div>
        <div class="col-sm-12 col-lg-6">
            <h1>@Model.GameDetails.zhtTitle</h1>
            <h2>@Model.GameDetails.engTitle</h2>
            <p>@Model.GameDetails.Intro</p>
            <h3>遊戲重度：@Model.GameDetails.Weight / 5。</h3>
            <h3>遊戲時長：@Model.GameDetails.MinTime ~ @Model.GameDetails.MaxTime 分鐘</h3>
            </div>
        <a asp-action="Rating" asp-route-id="@Model.GameDetails.Id" class="col-2 RatingBackground">
            <h3 class="RaingNum">8.6</h3>
            <div class="star"></div>
        </a>
    </div>
    <div class="row pt-4">
        <h2 class="BarTitle">遊戲介紹</h2>
        <p>
            @Model.GameDetails.Description
        </p>
    </div>
    <div class="row pt-4">
        <h2 class="BarTitle">遊戲圖片</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Model.GameDetails.PictureURL1" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="@Model.GameDetails.PictureURL2" class="d-block w-100">
                </div>
                <div class="carousel-item ">
                    <img src="@Model.GameDetails.PictureURL3" class="d-block w-100">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    @* width="560" height="315" *@
    <div class="pt-4">
        <h2 class="BarTitle">遊戲影片</h2>
        <iframe width="560" height="315" src="@Model.GameDetails.YoutubeURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="row pt-4">
        <div class="col">
            <div class="list-group">
                <h2 class="BarTitle">相關文章</h2>
                <a href="#" class="list-group-item list-group-item-action">世界排名第一的桌遊!我來啦</a>
                <a href="#" class="list-group-item list-group-item-action">新手玩伯明翰推薦嗎?</a>
                <a href="#" class="list-group-item list-group-item-action">規則好像有點複雜，需要釐清</a>
                <a href="#" class="list-group-item list-group-item-action">伯明翰陶瓷流戰術分享</a>
                <a href="#" class="list-group-item list-group-item-action">伯明翰vs蘭開夏</a>
            </div>
        </div>
        <div class="col">
            <div class="list-group">
                <h2 class="BarTitle">最新揪團</h2>
                <a href="#" class="list-group-item list-group-item-action">台北內湖東門上帝骰揪團</a>
                <a href="#" class="list-group-item list-group-item-action">台北陽光西門店!暑假來玩玩</a>
                <a href="#" class="list-group-item list-group-item-action">新莊自宅揪團</a>
                <a href="#" class="list-group-item list-group-item-action">高雄鳳山新手拓荒團</a>
                <a href="#" class="list-group-item list-group-item-action">__</a>
            </div>
        </div>
        <div class="col">
            <div class="list-group">
                <h2 class="BarTitle">二手買賣</h2>
                <a href="#" class="list-group-item list-group-item-action">台北面交二手出清</a>
                <a href="#" class="list-group-item list-group-item-action">徵一套KS版Brass</a>
                <a href="#" class="list-group-item list-group-item-action">__</a>
                <a href="#" class="list-group-item list-group-item-action">__</a>
                <a href="#" class="list-group-item list-group-item-action">__</a>
            </div>
        </div>
    </div>
    <h2 class=" mt-3 BarTitle">精選評論</h2>
    <div class="row pt-4">
        @foreach(var item in Model.Ratings)
        {
          <div class="col-sm-12 col-lg-4">
            <div class="card border-dark mb-3">
                <div class="card-header">#台北艾瑞克</div>
                <div class="card-body">
                        <h4 class="card-title text-black fw-bold"> @item.Title</h4>
                        <p class="card-text">@item.Comments</p>
                    <a href="#" class="card-link align-self-end">閱讀更多</a>
                </div>
            </div>
          </div>   
        }
    </div>
</div>