@model List<GameDetail>
@section Styles{
    <style>
        table{
            width:100%;
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(8px);
            border: rgba(20, 184, 166, 0.2) solid 0.5px;
        }

        thead{
            background: linear-gradient(to right, #14B8A6,#5eead4 );
            color:white;
            height:5vh;
            text-align:center;
        }


        .desc{
            color: #0f2419;
            font-size: 0.9em;
        }

        .GameTitle{
            font-weight: bold;
        }

        .entry a{
            text-decoration: none;
        }

        .entry:hover a {
            color:white;
        }

        .entry{
            height:10vh;
            overflow: hidden;
        }

        .entry:hover{
            background: linear-gradient(to right, #14B8A6,#5eead4 );
            backdrop-filter: blur(10px);
            color:white;
        }


    </style>

}
<div class="container-fluid">
    <div class="row mt-3">

        <!---左側欄開始--->
        <div class="col-3">
            <partial name="~/Views/Shared/Partials/_CommunityLeftSidebar.cshtml" />
        </div>
        <!---左側欄結束--->

        <div class="col-9">
            <table>
                <thead class="pd-5">
                    <tr>
                        <th scope="col">BGG排名</th>
                        <th scope="col">BGF排名</th>
                        <th scope="col">封面</th>
                        <th scope="col">標題</th>
                        <th scope="col">動作</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach(var item in Model)
                    {
                        <tr class="text-center entry">
                            <th class="fs-4" scope="row">@item.OverallRank</th>
                            <td class="fs-4">@item.BGFRank</td>
                            <td><img style="width:100px" src="@item.Cover"></td>
                            <td>
                                <figure>
                                    <a asp-area="" asp-controller="Dex" asp-action="Detail" asp-route-id="@item.Id">
                                        <span class="GameTitle">@item.zhtTitle @item.engTitle</span>
                                        <p class="desc"> @item.Intro </p>
                                    </a>
                                </figure>
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.18.18 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.18.18 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.18.18 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.18.18 0 0 1-.134-.098z" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1" />
                                </svg>
                                @* <a asp-action="Edit" asp-route-id="@item.Id">修改</a> *@
                                @* <a asp-action="Delete" asp-route-id="model.Id">刪除</a> *@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @* <div>
                <ul class="justify-content-center pagination pagination mt-3">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </div> *@
        </div>
    </div>
</div>
